.calendar_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.calendar_month {
  display: flex;
  flex-direction: column;
}

.calendar_week {
  dispaly: flex;
  flex-direction: row;
}

.calendar_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 3vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.calendar_appbar {
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 0 6rem 0 6rem;
}

.calendar_home_button {
  background-color: rgb(0, 192, 255);
  color: rgb(255, 255, 255);
}

.calendar_home_button:hover {
  background-color: rgb(0, 0, 255);
  color: rgb(255, 255, 255);
}

.calendar_home_button:active {
  background-color: rgb(0, 255, 255);
  color: rgb(255, 255, 255);
}

.calendar_login_button {
  background-color: rgb(0, 192, 255);
}

.calendar_login_button:hover {
  background-color: rgb(0, 0, 255);
}

.calendar_login_button:active {
  background-color: rgb(0, 255, 255);
}

.calendar_day {
  display: flex
}